<app-reviews></app-reviews>

<!-- Loader in case products are not loaded from Firebase -->
<!--
  <div *ngIf="!products" fxLayout="row" fxLayoutAlign="center center" style="height:100vh">
    <mat-spinner></mat-spinner>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" *ngIf="products;">
-->

<!-- List of Categories -->
<!--
  <div fxFlex="20">
    <mat-selection-list>
      <mat-list-option>
        All Categories
      </mat-list-option>
      <mat-list-option>
        Fruits
      </mat-list-option>
      <mat-list-option>
        Breads
      </mat-list-option>
      <mat-list-option>
        Vegetables
      </mat-list-option>
      <mat-list-option>
        Seasonings and Spices
      </mat-list-option>
      <mat-list-option>
        Dairy
      </mat-list-option>
    </mat-selection-list>
  </div>
-->

<!-- Products -->
<!--
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around">
      <div *ngFor="let product of products | keyvalue; let i=index">
        <product-card [product]="product"></product-card>
        <div *ngIf="(i + 1 ) %2 === 0" class="w-100"></div>
      </div>
    </div>

  </div>
-->
