<div fxLayout="column">

  <!-- First Card -->
  <mat-card class="example-card">
    <mat-card-content fxLayout="row" fxLayoutAlign="start" fxLayoutGap="30px">
      <!-- Back Arrow -->
      <div>
        <img src="/assets/beach.jpg" class="circle-image" alt="image">
      </div>

      <!-- 2nd Div-->
      <img src="/assets/beach.jpg" class="circle-image" alt="image">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="40px">
          <div fxLayout="column">
            <mat-label class="heading">Name</mat-label>
            <mat-label class="heading">Address</mat-label>
            <mat-label class="heading">Phone</mat-label>
          </div>

          <div fxLayout="column">
            <mat-label>Pizza Hut F-11</mat-label>
            <mat-label>F-11 Islamabad</mat-label>
            <mat-label>111</mat-label>
          </div>
        </div>
        <div>
          <h3>Payment Term: Cash/Credit</h3>
        </div>
      </div>

      <img src="/assets/beach.jpg" class="circle-image" alt="image">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="40px">
          <div fxLayout="column">
            <mat-label class="heading">Customer Name</mat-label>
          </div>
          <div fxLayout="column">
            <mat-label>Test</mat-label>
          </div>
        </div>
        <div>
          <h3>Payment Term: Cash/Credit</h3>
        </div>
      </div>

      <div fxLayout="column">
        <mat-label>Print</mat-label>
        <mat-icon>print</mat-icon>
      </div>

      <div fxLayout="column">
        <mat-label>Update Status</mat-label>
        <mat-icon>update</mat-icon>
      </div>

      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column">
            <h2>Order No:</h2>
            <mat-label class="heading">Order amount:</mat-label>
            <mat-label class="heading">Order Type:</mat-label>
            <mat-label class="heading">Date Added:</mat-label>
          </div>

          <div fxLayout="column">
            <h2>TFD0000043</h2>
            <mat-label>340</mat-label>
            <mat-label class="heading">Delivery</mat-label>
            <mat-label>Nov, 5 2017</mat-label>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" style="margin-top:30px;">
    <div fxLayout="column">
      <mat-label>Received > </mat-label>
      <mat-label>01:24 Pm > </mat-label>
    </div>
    <!-- <div fxLayout="row">
      <mat-label>Received > </mat-label>
      <mat-label>Accepted / Rejected > </mat-label>
      <mat-label>Preparing > </mat-label>
      <mat-label>Ready for Pickup > </mat-label>
      <mat-label>Cash Paid > </mat-label>
      <mat-label class="heading">Picked Up > </mat-label>
      <mat-label>On the way > </mat-label>
      <mat-label>Delivered / Problem Reported > </mat-label>
      <mat-label>Cash Collected / Problem Reported > </mat-label>
    </div>

    <div fxLayout="row">
      <mat-label>01:24 Pm > </mat-label>
      <mat-label>01:26 Pm > </mat-label>
      <mat-label>01:30 Pm > </mat-label>
      <mat-label>02:00 Pm > </mat-label>
      <mat-label>02:04 Pm > </mat-label>
      <mat-label class="heading">02:06 Pm > </mat-label>
    </div> -->

  </div>
</div>
